* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace, Arial, Helvetica, sans-serif;
}

h1 {
  color: #333;
}

header {
  position: relative;
  width: 100%;
  padding: 20px 0 0 20px;
  margin-bottom: 50px;
  float: left;
}

.main-container {
  width: 95%;
}

.page-title-container {
  margin: 2.5rem 0;
}

.page-title-container__title {
  font-size: 4.2rem;
}

.center-container {
  float: left;
  width: 60%;
  position: relative;
  margin: 2.5rem 0;
}

.center-container__scarecrow-img {
  width: 90%;
  height: 650px;
}

.center-container__info-error {
  float: left;
  width: 30%;
}

.info-error__h1 {
  display: inline-block;
  font-size: 3.2rem;
  width: 75%;
  line-height: 2;
}

.info-error__paragraph {
  font-size: 1.7rem;
  margin: 2rem 0;
}

.back-home-button {
  margin: 4rem 0;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #000000d2;
  border: none;
  position: relative;
}

.back-home-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.144);
  font-size: 1.8rem;
  font-weight: bold;
}

.back-home-button:hover::before {
  height: 100%;
  border-radius: 0;
}

.footer {
  float: left;
  width: 100%;
  text-align: center;
}

@media all and (max-width: 900px) {
  .main-container {
    width: 92.5%;
  }
  .center-container {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 92.5%;
  }
  .center-container__scarecrow-img {
    width: 100%;
    margin: 0 auto;
  }
  .page-title-container__title {
    font-size: 2rem;
  }
  .center-container__info-error {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 92.5%;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
  }
  .info-error__h1 {
    font-size: 2rem;
  }
  .info-error__paragraph {
    font-size: 1.4rem;
  }
  .footer__title {
    text-align: center;
  }
}
